@page
@model Books.Pages.SearchModel
@{
}

<h2>Search Book</h2>

<form>
    Title : <input asp-for="Title" />
    Author : <input asp-for="Author" />
    <input type="submit" value="Search" />
    <p></p>
    <span asp-validation-for="Title" class="text-danger"></span>
    <span asp-validation-for="Author" class="text-danger"></span>
    <p></p>
</form>