@page
@model Books.Pages.SearchModel
@{
} 

<h2>Search Books</h2>

<form method="post">
    Title : <input asp-for="Title" />
    Author : <input asp-for="Author" />
    <input type="submit" value="Search" />
</form>
<p></p>

@if (Model.Books != null)
{
    if (Model.Books.Count > 0)
    {
        <partial name="_ListBooks" model="Model.Books" />
    }
    else
    {
        <h4>Sorry! No Books Found!</h4>
    }
}